@model Paginate<ProductVM>

@foreach (var product in Model.Datas)
{
    <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="whiskeys">
            <div class="whiskey-icons ">
                <a asp-controller="shop" asp-action="ProductDetail" asp-route-id="@product.Id">

                    <i class="fa-solid fa-paperclip"></i>
                </a>
                <a asp-controller="wishlist" asp-action="AddWishlist" asp-route-id="@product.Id"><i class="fa-regular fa-heart"></i></a>
                <a href=""><i class="fa-solid fa-square-plus"></i></a>
            </div>


            <div class="whiskey">
                <a asp-controller="shop" asp-action="ProductDetail" asp-route-id="@product.Id"><img src="~/assets/img/@product.Image" alt=""></a>
            </div>
            <div class="whiskey-name">
                <a href="">@product.Name</a>

                <br>
                <span><span>$</span>@product.ProductCapacities.Last().Price-@product.ProductCapacities.First().Price </span>
   



            </div>


        </div>


    </div>
}