@model BlogDetailVM

@inject ILayoutService layout

@{
    ViewData["Title"] = "Whiskey - BlogDetail";
}


<main>
    <section id="main-up">
        <div class="container">
            <div class="row">
                <div class="main-up-contact-name">
                    <h1>Blog</h1>
                </div>

                <div class="main-up-contact-signature mt-3">
                    <img src="~/assets/img/main-line2.svg" alt="">
                </div>

                <div class="main-up-contact-descriptions">
                    <div class="main-up-contact-description">
                        <p>
                            Fringilla litora arcu faucibus posuere torquent bibendum vestibulum placerat molestie
                            fringilla nec ipsum pharetra hendrerit adipiscing metus.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="background-img">
        <div>
            <img src="~/assets/img/main-back-img2.svg" alt="">
        </div>
    </section>

    <section id="main-middle-up">
        <div class="main-middle-up-img">
            <img src="~/assets/img/blogdetail-1.webp" alt="">
        </div>

        <div class="main-middle-up-img-logo">
            <img src="~/assets/img/main-logo1.svg" alt="">
            <br> <br>
            <h1>@Model.Blog.Name</h1>
            <br> <br>
            <img class="responce-log" src="~/assets/img/main-line2.svg" alt="">

        </div>


        </div>

    </section>

    <section id="background-blogdetail-imgs">
        <div class="background-blogdetail-img">
            <img src="~/assets/img/blogdetail-backline1.svg" alt="">
        </div>
    </section>

    <section id="main-middle-bbibendum">
        <div class="container">
            <div class="row">
                <div class="main-middle-up-bibendum d-lg-flex d-md-flex  mt-5">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="main-middle-up-bibendum-logo mt-5">
                            <img src="~/assets/img/main-logo1.svg" alt="">

                        </div>
                        <div class="main-middle-up-bibendum-title mt-2">
                            <h3>Bibendum quam et egestas leo olestie.</h3>
                        </div>

                        <div class="main-middle-up-bibendum-line mt-3">
                            <img src="~/assets/img/main-line2.svg" alt="">

                        </div>
                        <div class="main-middle-blog-img mt-5">
                            <img src="~/assets/img/@Model.Blog.Image" alt="">

                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <div class="main-middle-up-bibendum-desc mt-5">
                            <h5>
                                @Model.Blog.Title
                                                        
                            </h5>

                            <br>

                            <p>
                                @Model.Blog.Description
                                              
                            </p>


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>

    <section id="main-middle-pharetra">
        <div class="container mt-5">
            <div class="row">
                <div class="main-pharetra-img mt-5">
                    <img class="mt-5" src="~/assets/img/\/whiskey2-about-icon4.svg" alt="">
                </div>
                <div class="main-pharetra-title mt-3">
                    <h2>
                        @layout.GetSettings()["blog-dt-pharetra"]
                    </h2>

                </div>

                <div class="middle-pharetra-img mt-4">
                    <img src="~/assets/img/whiskey2-sep3.svg" alt="">
                </div>




            </div>
        </div>
    </section>

    <section id="main-middle-down-urna">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6 mt-5">
                    <div class="main-middle-down-urna-logo mt-5">
                        <img src="~/assets/img/main-logo1.svg" alt="">

                    </div>
                    <div class="main-middle-down-urna-title mt-2">
                        <h3>@Model.BlogElement.Name</h3>
                    </div>

                    <div class="middle-down-urna-line mt-3">
                        <img src="~/assets/img/main-line2.svg" alt="">

                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-md-6 mt-5">
                    <div class="main-middle-down-urna-desc mt-5">
                        <h5>
                            @Model.BlogElement.Title
                        </h5>
                    </div>

                    <div class="main-middle-down-urna-desc-two mt-4">
                        <p>
                            @Model.BlogElement.Description
                        </p>
                    </div>

                    <div class="main-middle-down-urna-icons">

                        <div class="main-middle-down-urna-icon d-flex">
                            <div class="col-1"> <i class="fa-solid fa-square-check"></i></div>
                            <div class="col-11">
                                <p>Donec sodales rutrum, libero ornare at, malesuada aliquet, lacus iaculis mi.</p>
                            </div>
                        </div>

                        <div class="main-middle-down-urna-icon d-flex">
                            <div class="col-1"> <i class="fa-solid fa-square-check"></i></div>
                            <div class="col-11">
                                <p>Donec sodales rutrum, libero ornare at, malesuada aliquet, lacus iaculis mi.</p>
                            </div>
                        </div>

                        <div class="main-middle-down-urna-icon d-flex">
                            <div class="col-1"> <i class="fa-solid fa-square-check"></i></div>
                            <div class="col-11">
                                <p>Donec sodales rutrum, libero ornare at, malesuada aliquet, lacus iaculis mi.</p>
                            </div>
                        </div>

                    </div>



                </div>

            </div>
        </div>
    </section>

    <section id="background-footer-img">
        <div class="background-footer-img mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">
        </div>
    </section>

    <section id="main-footer-up">
        <div class="container">
        </div>

    </section>


    <section id="background-footer-images">
        <div class="background-footer-images">
            <img src="~/assets/img/main-back-img1.svg" alt="">
        </div>
    </section>

    <section id="main-footer-urna">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-6 mt-5">
                    <div class="main-footer-urna-logo mt-5">
                        <img src="~/assets/img/main-logo1.svg" alt="">

                    </div>
                    <div class="main-footer-urna-title mt-2">
                        <h3>@Model.BlogInfo.Title</h3>
                    </div>

                    <div class="main-footer-line mt-3">
                        <img src="~/assets/img/main-line2.svg" alt="">

                    </div>

                    <div class="main-footer-urna-desc mt-5">
                        <h5>
                            @Model.BlogInfo.Description
                        </h5>

                        <br>

                        <p>
                            Ultrices habitasse scelerisque curabitur sagittis ultricies rhoncus suspendisse placerat
                            etiam cubilia eu porttitor viverra tellus ullamcorper lobortis tristique sagittis
                            euismod vehicula risus dolor cursus massa pretium aliquet egestas mattis lorem arcu
                            platea purus facilisis fusce dictum platea varius amet justo.
                        </p>
                    </div>




                </div>

                <div class="col-lg-6 col-sm-12 col-md-6 mt-5">
                    <div class="main-footer-urna-desc mt-5">
                        <p>
                            Adipiscing sagittis cubilia aptent sollicitudin et elementum platea fames bibendum erat
                            nisi duis fusce ut mauris interdum interdum congue phasellus consectetur sapien volutpat
                            nam metus malesuada sem in nisl mauris proin dolor libero per luctus aenean interdum
                            praesent quisque scelerisque elementum tortor orci pulvinar aenean sed quisque conubia
                            quisque.
                        </p>

                        <p>
                            Est posuere ut primis justo venenatis gravida integer ultrices porta egestas tellus donec
                            praesent risus lacinia eget proin leo dictum mattis tortor pharetra iaculis justo
                            bibendum commodo ultrices.
                        </p>

                        <p>
                            Platea sagittis varius sollicitudin habitasse aliquet eros sodales nisi donec aptent
                            libero tortor lorem aenean eget aliquam vehicula venenatis ad lacinia elementum
                            scelerisque pharetra dictumst porta netus metus tincidunt turpis etiam lectus in sodales
                            ac nisi primis ante donec convallis ultrices conubia quisque per ante vivamus malesuada
                            dictum per senectus non varius aliquam donec mi sed dui neque at.
                        </p>

                        <p>
                            Laoreet massa sodales commodo porta at himenaeos curabitur libero mattis non libero est
                            eleifend dolor purus vel suspendisse.

                        </p>

                    </div>





                </div>



            </div>

        </div>
        </div>
    </section>

    <section id="background-name-robert-img">
        <div class="background-name-robert-img-responce mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">
        </div>
    </section>



    <section id="main-name-robert">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 mt-4">
                    <div class="img-robert ">
                        <img src="~/assets/img/@Model.Author.Image" alt="">

                    </div>


                </div>
                <div class="col-lg-10 col-sm-10 col-md-10 mt-5">
                    <div class="name-robert">
                        <h4>@Model.Author.Name</h4>
                    </div>

                    <div class="main-desc">
                        <p>
                            @Model.Author.Description
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="background-name-robert-img">
        <div class="background-name-robert-img-two">
            <img src="~/assets/img/main-back-img2.svg" alt="">
        </div>
    </section>


    <section id="blogs">
        <div class="container">
            <div class="row">
                <div class="home-blog-logo mt-5">
                    <img src="~/assets/img/main-logo1.svg" alt="">

                </div>

                <div class="home-blog-name">
                    <h1>@layout.GetSettings()["SeeAlso"]</h1>
                </div>

                <div class="home-blog-line">
                    <img src="~/assets/img/main-line2.svg" alt="">
                </div>

                <div class="home-blogs d-lg-flex d-md-flex mt-5">

                    @foreach (var item in Model.Blogs.Take(3))
                    {
                        <div class="col-lg-4 col-sm-12 col-md-4 homes-blogs-hover">
                            <div class="card home-blog" style="width: 25rem;">
                                <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.Id"><i class="fa-solid fa-circle-plus"></i></a>
                                <img src="~/assets/img/@item.Image" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <span><i class="fa-regular fa-user"></i></span>
                                    <span>admin on</span>
                                    <span><i class="fa-regular fa-clock"></i> December 30, 2021</span>
                                    <br> <br>
                                    <span>@item.Name</span>
                                    <br>
                                    <br>
                                </div>
                            </div>

                        </div>

                    }



                </div>
            </div>
    </section>

    <section id="background-name-robert-img">
        <div class="background-name-robert-img-three mt-5">
            <img src="~/assets/img/main-back-img1.svg" alt="">
        </div>
    </section>






</main>


@*@section Scripts{
    <script src="~/assets/js/blog-detail.js"></script>
}*@